a{
    text-decoration: none;
    cursor: pointer;
}
p,h1,h2,ul{
  margin: 0;
}
button{
    cursor: pointer;
}
li{
    list-style-type: none;
}
img{
    display: block;
}
ul{
    padding-left: 0px;
}

*{
    box-sizing: border-box;
}
// Reset box-sizing and remove margin/padding for all elements
* {
    box-sizing: border-box;
    padding: 0;
  }
  body{
    margin: 0 auto;
  }
  // Remove list styles
  ul, ol {
    list-style: none;
  }
  
  // Remove default anchor styles
  a {
    text-decoration: none;
    color: inherit;
  }
  
  // Remove default button styles
  button, select, textarea {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  
  // Remove default form styles
  // input, textarea, select {
  //   appearance: none;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  // }
  
  // Optionally, you can include a CSS normalize to handle cross-browser inconsistencies
  
  // Your custom styles go here
  
  // Add your custom styles for other elements
  