.subscribtion {
    padding-top: 40px;
    &__content {
        background-color: $dark-blue;
        padding: 48px;
        display: flex;
        border-radius: 8px;
        gap: 90px;
        @include media(1100px){
            gap: 0;
            justify-content: space-between;  
        }
        
        @include media(650px){
            flex-direction: column;
            gap: 25px;
        }

        @include media(480px){
            padding: 24px;
        }
    }

    &__text {
        color: $white;
        font-size: 31px;
        letter-spacing: 1px;
    }

    &__sub {
        font-size: 13px;
        color: $purple;
        text-transform: uppercase;
        font-weight: 700;       
        margin-bottom: 30px; 
    }

    &__title {
        @include media(1100px){
            font-size: 24px;   
        }
        @include media(480px){
            font-size: 14px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        gap: 15px;
        @include media(1100px){
            width: 50%;   
        }
        @include media(650px){
            width: 100%;
        }
    }

    &__input {
        font-size: 20px;
        color: $white;
        text-align: center;
        height: 50px;
        border-radius: 5px;
        background-color: $light-blue;
        border: 1px solid $purple;
        outline: none;

        &::placeholder{
            color: $purple
            
        }
        @include media(480px){
            font-size: 14px; 
        }
    }

    &__button {
        @include button(15px 200px, $purple, $white, 1px solid $purple);
        text-transform: uppercase;
        border-radius: 5px;
        &:hover{
            background-color: transparent;
        }
        @include media(1100px){
            padding: 15px 50px;   
        }
        @include media(480px){
            font-size: 14px; 
            padding: 15px 25px;
        }
    }
}